.help_box{
    height: 580px;
    background: url(../images/help/bg.png) no-repeat scroll center center / cover;
    margin: 30px 0;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.help_box::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(178.78deg, rgba(6, 22, 43, 0.81) 1.03%, rgba(8, 37, 75, 0.16) 39.41%, #06162B 102.06%, #000307 110.19%);

}

.help_content {
	position: absolute;
	z-index: 9;
	bottom: 60px;
	left: 48px;
	width: 100%;
	max-width: 507px;
}

.help_content h4 { 
	font-family: Gotham;
	font-size: 48px;
	font-weight: 700;
	line-height: 67.2px;
	text-align: left;
	color: #F7F7F7;
}


.help_content p { 
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	text-align: left;
	color: #FFFFFF;
    margin-bottom: 12px;
}

.sk_design_title p span {
	color: rgba(227, 174, 10, 1);
	font-weight: 700;
}

.sk_design_title h2 {
	margin: 10px 0px 12px 0px;
	text-transform: capitalize;
}

.sk_design_title p {
	margin: inherit;
	max-width: 1053px;
}

.help_content_way .integrated_approach_single {
    margin-top: 32px;
}

.help_content_way{
    margin-bottom: 32px;
}

.help_way_to_help_area {
	margin-top: 68px;
}

.help_event_carousel{
    margin: 32px 0;
}

.date_events i {
	color: rgba(245, 195, 38, 1);
	font-size: 24px;
}

.date_events span {
	font-family: Gotham;
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	text-align: right;
    color: #09346B;
}

.date_events {
	display: flex;
	align-items: center;
	gap: 8px;
    margin-top: 8px;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
	background: transparent !important; 
}

.help_event_carousel .owl-next img ,
.help_event_carousel .owl-prev img {
	width: 64px;
}

.help_event_carousel {
    position: relative;
}

.help_event_carousel .owl-prev {
	position: absolute;
	left: -27px;
	top: 24%;
}

.help_event_carousel .owl-next {
	position: absolute;
	right: -27px;
	top: 24%;
}



/* Birts Page CSS  */

.sk_birts_banner_box {

}

.sk_birts_banner_box{
    height: 706px;
    background: url(../images/brits/bg.png) no-repeat scroll center center / cover;
    margin: 30px 0;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.sk_birts_banner_box::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(178.78deg, rgba(6, 22, 43, 0.81) 1.03%, rgba(8, 37, 75, 0.16) 39.41%, #06162B 102.06%, #000307 110.19%);

}

.sk_birts_banner_text {
	max-width: 684px;
	width: 100%;
	margin: 0 auto; 
	text-align: center;
    position:relative;
    z-index: 9;
}

.sk_birts_banner_text h3 { 
	font-family: Gotham;
	font-size: 48px;
	font-weight: 700;
	line-height: 67.2px; 
	color: #F7F7F7;
}

.sk_birts_banner_text p { 
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	text-align: center;
	color: #FFFFFF;
    margin-top: 15px;
}

.sk_about_brits_img_2 img ,
.sk_about_brits_img_1 img {
	width: 100%;
	margin-bottom: 15px;
}

.sk_about_birts_content h6 {
	font-family: Gotham;
	font-size: 16px;
	font-weight: 500;
	line-height: 25.6px;
	text-align: left;
	margin-top: 35px;
	color: #09346B;
}

.sk_about_birts_content h6 span {
    color: #E3AE0A;
}

.sk_about_birts_area {
	padding: 40px 0;
}

.sk_program_area{
	padding: 60px 0;
}

.sk_program_item img {
	max-width: 531px;
	width: 100%;
	flex: 0 0 auto;
}

.sk_program_group{
	margin-top: 32px;
}

.sk_program_item{
	margin-bottom: 28px;
}

.sk_program_single_right h4 { 
	font-family: Gotham;
	font-size: 24px;
	font-weight: 500;
	line-height: 43.2px;
	text-align: left;
	color: #000;
}

.sk_program_single_right p { 
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	text-align: left;
	color: #777575;
	margin: 11px 0 32px 0;
}

.sk_program_item {
	margin-bottom: 28px;
	display: flex;
	align-items: center;
	gap: 93px;
}

.sk_program_button {
	display: flex;
	align-items: center;
	gap: 32px;
}

.sk_capa_area{
	margin: 60px 0;
}

.sk_capa_first_item{
	margin-bottom: 80px;
}

.kids_banner_area .help_box{ 
	height: 580px;
    background: url(../images/help/bg.png) no-repeat scroll center center / cover;
    margin: 30px 0;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.sk_second_gen_item{
	position: relative;
}

.sk_second_gen_item img {
	width: 100%;
	border-radius: 10px;
	height: 400px;
	object-fit: cover;
}

.sk_second_generation_content .sk_design_title p { 
	max-width: 899px;
}

.sk_second_item_row {
	margin-top: 32px;
}

.sk_second_gen_item h3 {  
	font-size: 24px;
	font-weight: 500;
	line-height: 43.2px;
	text-align: left;
	color: #09346B;
} 

.sk_second_item_overlay h4 {  
	font-size: 24px;
	font-weight: 500;
	line-height: 43.2px;
	text-align: center;
	color: #FFFFFF;
}

.sk_second_item_overlay p { 
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	text-align: center;
	color: #ccc;
	margin-bottom: 24px;
}

.sk_second_gen_img{
	position: relative;
	overflow: hidden;
}

.sk_second_item_overlay {
	background: #08254BD6;
	position: absolute;
	top: -100%;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	transition: 0.3s;
}

.sk_second_gen_img:hover .sk_second_item_overlay{
	top: 0;
}

.sk_second_gen_item,
.sk_second_generation_area{
	margin-bottom: 30px;
}

.sk_generation_btn{
	text-align: center;
}

.sk_next_support_titlte p{
	max-width: 899px;
}

.sk_design_title{
	margin-bottom: 32px;
}

.sk_single_next_support {
	border: 1px solid #0000001A;
	padding: 16px;
	text-align: center;
}

.sk_next_support_area{
	padding: 30px 0;
}

.sk_single_next_support h3 { 
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
	color: #000;
	margin-bottom: 12px;
}

.sk_single_next_support p { 
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	text-align: center;
	color: #777575;
}

.sk_single_next_support {
	margin-top: 87px;
	position: relative;
	height: 255px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 10px;
}

.sk_single_next_support img {
	position: absolute;
	top: -67px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.sk_pricing_area{
	margin: 30px 0;
}

.single_price_item.yellow_single_price {
	background: #FDC103;
}

.single_price_item.yellow_single_price .btn_style{
	background: #09346B;
	color: #FDC103;
}

.single_price_item {
	height: 480px;
	border-radius: 10px;
	position: relative;
	padding: 20px 45px;
}

.single_price_item h4 { 
	font-size: 25px;
	font-weight: 500;
	line-height: 40px;
	text-align: center;
	color: #09346B;
	margin-bottom: 24px;
}

.sk_price_box h5 {
	font-family: Gotham;
	font-size: 40px;
	font-weight: 700;
	line-height: 66.4px;
	text-align: center;
}

.sk_price_box p { 
	font-size: 23px;
	font-weight: 400;
	line-height: 38.18px;
	text-align: center;
}

.sk_price_box {
	display: flex;
	align-items: first baseline;
	justify-content: center;
	margin-bottom: 48px;
}

.single_price_item > p { 
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	text-align: left;
}

.sk_single_price_btn {
	text-align: center;
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.blue_single_price{
	background: #09346B;
}

.blue_single_price h4 { 
	color: #FDC103 !important; 
}

.blue_single_price p , 
.blue_single_price .sk_price_box p , 
.blue_single_price .sk_price_box h5 { 
	color: #fff !important; 
}

.sk_soundcloud_area{
	padding: 80px 0;
}

.sk_sound_cloud_video img {
	width: 100%;
}

.sk_single_sound_item {
	padding: 16px 18px;
	background: #09346B;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sk_single_play_img {
	display: flex;
	gap: 8px;
	align-items: center;
}

.sk_play_btn button {
	border: none;
	background: transparent;
}

.sk_single_sound_item{
	margin-bottom: 35px;
}

.sk_sound_list_text h5 {
	font-family: Gotham;
	font-size: 16px;
	font-weight: 700;
	line-height: 25.6px;
	text-align: left;
	color: #FDC103;
}

.sk_sound_list_text p { 
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	text-align: left;
	color: #fff;
	opacity: 50%;
	margin: 3px 0;
}

.sk_sound_list_text span { 
	font-size: 14px;
	font-weight: 400;
	line-height: 22.4px;
	text-align: left;
	color: #fff;
}

.sk_blog_text h4 {
	font-family: Gotham;
	font-size: 24px;
	font-weight: 400;
	line-height: 38.4px;
	text-align: left;
	margin: 24px 0 8px 0;
	color: #09346B;
}

.sk_blog_text p { 
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	text-align: left;
	color: #555555;
}

.sk_blog_user ul li {
	display: flex;
	align-items: center;
	gap: 5px;
}

.sk_blog_user p {
	font-family: Gotham;
	font-size: 14px;
	font-weight: 400;
	line-height: 22.4px;
	text-align: left;
	color: #09346B;
}

.sk_blog_user ul {
	display: flex;
	gap: 60px;
	margin: 20px 0;
}

.sk_blog_text .btn_style{
	width: 100%;
	text-align: center;
}

.sk_blog_area{
	margin: 30px 0;
}

.sk_blog_title {
	margin-bottom: 20px;
}

.sk_blog_img img {
	width: 100%;
}

.sk_upper_blog {
	padding: 20px;
}

.sk_upper_blog.sk_simple_blog {
	display: flex;
	gap: 24px;
}

.sk_upper_blog.sk_simple_blog .sk_blog_img {
	/* width: 220px; */
	flex: 0 0 293px; 
	/* height: 245px; */
}

.sk_upper_blog.sk_simple_blog .sk_blog_img img{ 
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}

.sk_upper_blog.sk_simple_blog  .sk_blog_text h4 { 
	margin: 0 0 8px 0; 
}


.sk_upper_blog.sk_simple_blog .sk_blog_user ul {
 
	gap: 50px;
	margin: 12px 0;
}

.sk_blog_list_item .sk_blog_user ul { 
	justify-content: space-around;
}

.sk_blog_border{
	border-top: 1px solid #09346B1A;
	border-bottom: 1px solid #09346B1A;
	padding: 10px 0 0 0;
}

.blog_content_btm{
	padding-top: 30px;
}

.sk_blog_list_item{
	margin-bottom: 32px;
}

.sk_blog_pagination{
	margin: 12px 0;
	padding: 0 60px;
}

.sk_blog_next button ,
.sk_blog_prev button {
	background: transparent;
	border: none;
	font-family: Gotham;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
	color: #555555;
	display: flex;
	align-items: center;
	gap: 8px;
	transition: 0.3s;
}


.sk_blog_next button:hover ,
.sk_blog_prev button:hover {
	color: #000;
} 

.sk_blog_middle_point ul {
	display: flex;
	align-items: center;
	gap: 5px;
}

.sk_blog_pagination {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sk_blog_middle_point button {
	font-family: Gotham;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #555555;
	border: none;
	border-radius: 8px;
	background: transparent;
}

.sk_blog_middle_point button:hover, 
.sk_blog_middle_point button.active { 
	color: #09346B; 
	background: #F2F5F7;
}

.post_box{
    height: 706px;
    background: url(../images/post/bg.png) no-repeat scroll center center / cover;
    margin: 30px 0;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.post_box::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(178.78deg, rgba(6, 22, 43, 0.81) 1.03%, rgba(8, 37, 75, 0.16) 39.41%, #06162B 102.06%, #000307 110.19%);

}

.sk_post_date p {
	background: #09346B;
	padding: 6px 8px;
	display: inline-block;
	border-radius: 8px; 
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	text-align: left; 
}

.sk_post_date p span {
	margin-left: 4px;
}

.post_box .help_content {
	position: absolute;
	z-index: 9;
	bottom: 60px;
	left: 0;
	width: 100%;
	max-width: 716px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	right: 0;
}

.sk_post_date ul {
	display: flex;
	gap: 20px;
	margin-top: 12px;
}

.sk_post_content_box {
	width: 100%;
	max-width: 1060px;
	margin: 0 auto;
}

.sk_post_post_img span { 
	font-size: 13.73px;
	font-weight: 350;
	line-height: 22.72px;
	text-align: center;
	color: #000;
	opacity: 30%;
}

.sk_post_post_img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
	margin-bottom: 20px;
}

.sk_post_social a {
	width: 40px;
	height: 40px;
	display: inline-block;
	border-radius: 8px; 
	padding: 10px;
	color: #09346B;
	border: 1px solid #09346B1A;
	display: flex;
	align-items: center;
	font-size: 20px;
	justify-content: center;
	transition: 0.3s;
}

.sk_post_social a:hover {
	background: #09346B;
	color: #fff;
}

.sk_post_social ul {
	display: flex;
	gap: 12px;
	justify-content: flex-end;
}

.social_copy{
	width: 127px !important;
	gap: 10px;
	font-size: 14px !important;
}

.sk_post_social{
	padding-bottom: 60px;
}
 


.sk_recent_post_area{ 
    background: url(../images/post/carousel.png) no-repeat scroll center center / cover;
    position: relative;  
	padding: 30px 0;
}

.sk_recent_post_area::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #09346BE0;
}

.recent_post_content{
	position: relative;
	z-index: 99;
}

.recent_post_title h3 { 
	font-family: Gotham;
	font-size: 32px;
	font-weight: 700;
	line-height: 44.8px;
	text-align: left;
	color: #fff;
	margin-bottom: 48px;
}

.sk_upper_blog.sk_blog_list_item.sk_post_item_single {
	background: #062040;
	border-radius: 10px;
	border: 1.5px solid #09346B;
}

.sk_post_item_single .sk_blog_text h4 { 
	color: #F5C326;
}

.sk_post_item_single .sk_blog_text p { 
	color: #CCCCCC;
}

.owl-carousel .owl-item .sk_blog_user img { 
	width: 24px;
}

.sk_recent_post_carousel .owl-nav {
	position: absolute;
	top: -108px; 
	right: 0;
}

.sk_recent_post_area{
	margin-bottom: 60px;
}