html {
	overflow-x: hidden;
}
body {
	overflow-x: hidden;
}

.help_box{
    height: 580px;
    background: url(../images/help/bg.png) no-repeat scroll center center / cover;
    margin: 30px 0;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.help_box::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(178.78deg, rgba(6, 22, 43, 0.81) 1.03%, rgba(8, 37, 75, 0.16) 39.41%, #06162B 102.06%, #000307 110.19%);

}

.help_content {
	position: absolute;
	z-index: 9;
	bottom: 60px;
	left: 48px;
	width: 100%;
	max-width: 507px;
}

.help_content h4 { 
	font-family: Gotham;
	font-size: 48px;
	font-weight: 700;
	line-height: 67.2px;
	text-align: left;
	color: #F7F7F7;
}


.help_content p { 
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	text-align: left;
	color: #FFFFFF;
    margin-bottom: 12px;
}

.sk_design_title p span {
	color: rgba(227, 174, 10, 1);
	font-weight: 700;
}

.sk_design_title h2 {
	margin: 10px 0px 12px 0px;
	text-transform: capitalize;
}

.sk_design_title p {
	margin: inherit;
	max-width: 1053px;
}

.help_content_way .integrated_approach_single {
    margin-top: 32px;
}

.help_content_way{
    margin-bottom: 32px;
}

.help_way_to_help_area {
	margin-top: 68px;
}

.help_event_carousel{
    margin: 32px 0;
}

.date_events i {
	color: rgba(245, 195, 38, 1);
	font-size: 24px;
}

.date_events span {
	font-family: Gotham;
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	text-align: right;
    color: #09346B;
}

.date_events {
	display: flex;
	align-items: center;
	gap: 8px;
    margin-top: 8px;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
	background: transparent !important; 
}

.help_event_carousel .owl-next img ,
.help_event_carousel .owl-prev img {
	width: 64px;
}

.help_event_carousel {
    position: relative;
}

.help_event_carousel .owl-prev {
	position: absolute;
	left: -27px;
	top: 24%;
}

.help_event_carousel .owl-next {
	position: absolute;
	right: -27px;
	top: 24%;
}



/* Birts Page CSS  */

.sk_birts_banner_box {

}

.sk_birts_banner_box{
    height: 706px;
    background: url(../images/brits/bg.png) no-repeat scroll center center / cover;
    margin: 30px 0;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.sk_birts_banner_box::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(178.78deg, rgba(6, 22, 43, 0.81) 1.03%, rgba(8, 37, 75, 0.16) 39.41%, #06162B 102.06%, #000307 110.19%);

}

.sk_birts_banner_text {
	max-width: 684px;
	width: 100%;
	margin: 0 auto; 
	text-align: center;
    position:relative;
    z-index: 9;
}

.sk_birts_banner_text h3 { 
	font-family: Gotham;
	font-size: 48px;
	font-weight: 700;
	line-height: 67.2px; 
	color: #F7F7F7;
}

.sk_birts_banner_text p { 
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	text-align: center;
	color: #FFFFFF;
    margin-top: 15px;
}

.sk_about_brits_img_2 img ,
.sk_about_brits_img_1 img {
	width: 100%;
	margin-bottom: 15px;
}

.sk_about_birts_content h6 {
	font-family: Gotham;
	font-size: 16px;
	font-weight: 500;
	line-height: 25.6px;
	text-align: left;
	margin-top: 35px;
	color: #09346B;
}

.sk_about_birts_content h6 span {
    color: #E3AE0A;
}

.sk_about_birts_area {
	padding: 40px 0;
}

.sk_program_area{
	padding: 60px 0;
}

.sk_program_item img {
	max-width: 531px;
	width: 100%;
	flex: 0 0 auto;
}

.sk_program_group{
	margin-top: 32px;
}

.sk_program_item{
	margin-bottom: 28px;
}

.sk_program_single_right h4 { 
	font-family: Gotham;
	font-size: 24px;
	font-weight: 500;
	line-height: 43.2px;
	text-align: left;
	color: #000;
}

.sk_program_single_right p { 
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	text-align: left;
	color: #777575;
	margin: 11px 0 32px 0;
}

.sk_program_item {
	margin-bottom: 28px;
	display: flex;
	align-items: center;
	gap: 93px;
}

.sk_program_button {
	display: flex;
	align-items: center;
	gap: 32px;
}

.sk_capa_area{
	margin: 60px 0;
}

.sk_capa_first_item{
	margin-bottom: 80px;
}

.kids_banner_area .help_box{ 
	height: 580px;
    background: url(../images/kids/bg.png) no-repeat scroll center center / cover;
    margin: 30px 0;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.sk_second_gen_item{
	position: relative;
}

.sk_second_gen_item img {
	width: 100%;
	border-radius: 10px;
	height: 400px;
	object-fit: cover;
}

.sk_second_generation_content .sk_design_title p { 
	max-width: 899px;
}

.sk_second_item_row {
	margin-top: 32px;
}

.sk_second_gen_item h3 {  
	font-size: 24px;
	font-weight: 500;
	line-height: 43.2px;
	text-align: left;
	color: #09346B;
} 

.sk_second_item_overlay h4 {  
	font-size: 24px;
	font-weight: 500;
	line-height: 43.2px;
	text-align: center;
	color: #FFFFFF;
}

.sk_second_item_overlay p { 
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	text-align: center;
	color: #ccc;
	margin-bottom: 24px;
}

.sk_second_gen_img{
	position: relative;
	overflow: hidden;
}

.sk_second_item_overlay {
	background: #08254BD6;
	position: absolute;
	top: -100%;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	transition: 0.3s;
	padding: 15px;
}

.sk_second_gen_img:hover .sk_second_item_overlay{
	top: 0;
}

.sk_second_gen_item,
.sk_second_generation_area{
	margin-bottom: 30px;
}

.sk_generation_btn{
	text-align: center;
}

.sk_next_support_titlte p{
	max-width: 899px;
}

.sk_design_title{
	margin-bottom: 32px;
}

.sk_single_next_support {
	border: 1px solid #0000001A;
	padding: 16px;
	text-align: center;
}

.sk_next_support_area{
	padding: 30px 0;
}

.sk_single_next_support h3 { 
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
	color: #000;
	margin-bottom: 12px;
}

.sk_single_next_support p { 
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	text-align: center;
	color: #777575;
}

.sk_single_next_support {
	margin-top: 87px;
	position: relative;
	height: 255px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 10px;
}

.sk_single_next_support img {
	position: absolute;
	top: -67px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.sk_pricing_area{
	margin: 30px 0;
}

.single_price_item.yellow_single_price {
	background: #FDC103;
}

.single_price_item.yellow_single_price .btn_style{
	background: #09346B;
	color: #FDC103;
}

.single_price_item {
	height: 480px;
	border-radius: 10px;
	position: relative;
	padding: 20px 45px;
}

.single_price_item h4 { 
	font-size: 25px;
	font-weight: 500;
	line-height: 40px;
	text-align: center;
	color: #09346B;
	margin-bottom: 24px;
}

.sk_price_box h5 {
	font-family: Gotham;
	font-size: 40px;
	font-weight: 700;
	line-height: 66.4px;
	text-align: center;
}

.sk_price_box p { 
	font-size: 23px;
	font-weight: 400;
	line-height: 38.18px;
	text-align: center;
}

.sk_price_box {
	display: flex;
	align-items: first baseline;
	justify-content: center;
	margin-bottom: 48px;
}

.single_price_item > p { 
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	text-align: left;
}

.sk_single_price_btn {
	text-align: center;
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.blue_single_price{
	background: #09346B;
}

.blue_single_price h4 { 
	color: #FDC103 !important; 
}

.blue_single_price p , 
.blue_single_price .sk_price_box p , 
.blue_single_price .sk_price_box h5 { 
	color: #fff !important; 
}

.sk_soundcloud_area{
	padding: 80px 0;
}

.sk_sound_cloud_video img {
	width: 100%;
}

.sk_single_sound_item {
	padding: 16px 18px;
	background: #09346B;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sk_single_play_img {
	display: flex;
	gap: 8px;
	align-items: center;
}

.sk_play_btn button {
	border: none;
	background: transparent;
}

.sk_single_sound_item{
	margin-bottom: 35px;
}

.sk_sound_list_text h5 {
	font-family: Gotham;
	font-size: 16px;
	font-weight: 700;
	line-height: 25.6px;
	text-align: left;
	color: #FDC103;
}

.sk_sound_list_text p { 
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	text-align: left;
	color: #fff;
	opacity: 50%;
	margin: 3px 0;
}

.sk_sound_list_text span { 
	font-size: 14px;
	font-weight: 400;
	line-height: 22.4px;
	text-align: left;
	color: #fff;
}

.sk_blog_text h4 {
	font-family: Gotham;
	font-size: 24px;
	font-weight: 400;
	line-height: 38.4px;
	text-align: left;
	margin: 24px 0 8px 0;
	color: #09346B;
}

.sk_blog_text p { 
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	text-align: left;
	color: #555555;
}

.sk_blog_user ul li {
	display: flex;
	align-items: center;
	gap: 5px;
}

.sk_blog_user p {
	font-family: Gotham;
	font-size: 14px;
	font-weight: 400;
	line-height: 22.4px;
	text-align: left;
	color: #09346B;
}

.sk_blog_user ul {
	display: flex;
	gap: 60px;
	margin: 20px 0;
}

.sk_blog_text .btn_style{
	width: 100%;
	text-align: center;
}

.sk_blog_area{
	margin: 30px 0;
}

.sk_blog_title {
	margin-bottom: 20px;
}

.sk_blog_img img {
	width: 100%;
}

.sk_upper_blog {
	padding: 20px;
}

.sk_upper_blog.sk_simple_blog {
	display: flex;
	gap: 24px;
}

.sk_upper_blog.sk_simple_blog .sk_blog_img {
	/* width: 220px; */
	flex: 0 0 293px; 
	/* height: 245px; */
}

.sk_upper_blog.sk_simple_blog .sk_blog_img img{ 
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}

.sk_upper_blog.sk_simple_blog  .sk_blog_text h4 { 
	margin: 0 0 8px 0; 
}


.sk_upper_blog.sk_simple_blog .sk_blog_user ul {
 
	gap: 50px;
	margin: 12px 0;
}

.sk_blog_list_item .sk_blog_user ul { 
	justify-content: space-around;
}

.sk_blog_border{
	border-top: 1px solid #09346B1A;
	border-bottom: 1px solid #09346B1A;
	padding: 10px 0 0 0;
}

.blog_content_btm{
	padding-top: 30px;
}

.sk_blog_list_item{
	margin-bottom: 32px;
}

.sk_blog_pagination{
	margin: 12px 0;
	padding: 0 60px;
}

.sk_blog_next button ,
.sk_blog_prev button {
	background: transparent;
	border: none;
	font-family: Gotham;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
	color: #555555;
	display: flex;
	align-items: center;
	gap: 8px;
	transition: 0.3s;
}


.sk_blog_next button:hover ,
.sk_blog_prev button:hover {
	color: #000;
} 

.sk_blog_middle_point ul {
	display: flex;
	align-items: center;
	gap: 5px;
}

.sk_blog_pagination {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sk_blog_middle_point button {
	font-family: Gotham;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #555555;
	border: none;
	border-radius: 8px;
	background: transparent;
}

.sk_blog_middle_point button:hover, 
.sk_blog_middle_point button.active { 
	color: #09346B; 
	background: #F2F5F7;
}

.post_box{
    height: 706px;
    background: url(../images/post/bg.png) no-repeat scroll center center / cover;
    margin: 30px 0;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.post_box::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(178.78deg, rgba(6, 22, 43, 0.81) 1.03%, rgba(8, 37, 75, 0.16) 39.41%, #06162B 102.06%, #000307 110.19%);

}

.sk_post_date p {
	background: #09346B;
	padding: 6px 8px;
	display: inline-block;
	border-radius: 8px; 
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	text-align: left; 
}

.sk_post_date p span {
	margin-left: 4px;
}

.post_box .help_content {
	position: absolute;
	z-index: 9;
	bottom: 60px;
	left: 0;
	width: 100%;
	max-width: 716px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	right: 0;
}

.sk_post_date ul {
	display: flex;
	gap: 20px;
	margin-top: 12px;
}

.sk_post_content_box {
	width: 100%;
	max-width: 1060px;
	margin: 0 auto;
}

.sk_post_post_img span { 
	font-size: 13.73px;
	font-weight: 350;
	line-height: 22.72px;
	text-align: center;
	color: #000;
	opacity: 30%;
}

.sk_post_post_img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
	margin-bottom: 20px;
}

.sk_post_social a {
	width: 40px;
	height: 40px;
	display: inline-block;
	border-radius: 8px; 
	padding: 10px;
	color: #09346B;
	border: 1px solid #09346B1A;
	display: flex;
	align-items: center;
	font-size: 20px;
	justify-content: center;
	transition: 0.3s;
}

.sk_post_social a:hover {
	background: #09346B;
	color: #fff;
}

.sk_post_social ul {
	display: flex;
	gap: 12px;
	justify-content: flex-end;
}

.social_copy{
	width: 127px !important;
	gap: 10px;
	font-size: 14px !important;
}

.sk_post_social{
	padding-bottom: 60px;
}
 


.sk_recent_post_area{ 
    background: url(../images/post/carousel.png) no-repeat scroll center center / cover;
    position: relative;  
	padding: 30px 0;
}

.sk_recent_post_area::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #09346BE0;
}

.recent_post_content{
	position: relative;
	z-index: 99;
}

.recent_post_title h3 { 
	font-family: Gotham;
	font-size: 32px;
	font-weight: 700;
	line-height: 44.8px;
	text-align: left;
	color: #fff;
	margin-bottom: 48px;
}

.sk_upper_blog.sk_blog_list_item.sk_post_item_single {
	background: #062040;
	border-radius: 10px;
	border: 1.5px solid #09346B;
}

.sk_post_item_single .sk_blog_text h4 { 
	color: #F5C326;
}

.sk_post_item_single .sk_blog_text p { 
	color: #CCCCCC;
}

.owl-carousel .owl-item .sk_blog_user img { 
	width: 24px;
}

.sk_recent_post_carousel .owl-nav {
	position: absolute;
	top: -108px; 
	right: 0;
}

.sk_board_carousel .owl-nav {
	position: absolute;
	top: -108px; 
	right: 0;
}

.sk_recent_post_area{
	margin-bottom: 60px;
}

.about_banner_box{
	height: 706px !important;
	background: url(../images/about/bg.jpg) no-repeat scroll center center / cover !important;
}

.sk_gengel_content img {
	width: 100%;
}

.sk_gengel_img {
	display: flex;
	align-items: end;
	height: 100%;
	gap: 18px;
	justify-content: flex-end;
}

.sk_gengel_area{
	margin-bottom: 80px;
}

.single_sk_meet_item {
	box-shadow: 0px 8px 20px -2px #0000000A;
	border: 1px solid #F1F3F6;
	padding: 12px;
	border-radius: 95px;
	display: flex;
	align-items: center;
	gap: 24px;
}

.single_sk_meet_item img {
	width: 96px !important;
}

.sk_meet_info h3 {
	font-family: Gotham;
	font-size: 24px;
	font-weight: 500;
	line-height: 38.4px;
	text-align: left;
	color: #09346B;
	margin-bottom: 8px;
}

.sk_meet_info p { 
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	text-align: left;
	color: #555555;
}

.sk_meet_area{
	margin-bottom: 131px;
}

.sk_design_title.sk_board_title  p { 
	max-width: 730px;
	color: #CCCCCC;
}

.sk_board_title h2 {
	color: #fff;
}

.sk_board_single_item img {
	width: 134px !important;
}

.sk_board_single_item .sk_single_next_support { 
	background: #062040;
	border: 1.5px solid #09346B;
	border-radius: 16px;
	justify-content: end;
}

.sk_board_single_item .sk_single_next_support h3 { 
	color: #F5C326; 
	font-size: 23px;
}

.sk_board_single_item  .sk_single_next_support p {
    margin: 8px 0;
	color: #CCCCCC;
}

.sk_board_single_item  .btn_style2 { 
	color: #fff; 
}

.sk_story_img img {
	width: 100%;
}

.sk_story_area{
	margin: 90px 0;
}

.sk_about_video {
	margin: 30px auto;
	max-width: 906px;
	width: 100%;
}

.sk_meet_carousel {
	margin-top: 48px;
	position: relative;
}

.sk_meet_carousel .owl-nav {
	position: absolute;
	top: -165px;
	right: 105px;
}

.sk_award_img img {
	width: 100%;
}

.sk_award_area{
	padding: 120px 0 152px 0;
}

.sk_timeline_area{
	padding: 60px 0; 
    background: url(../images/brits/bg.png) no-repeat scroll center center / cover;
    position: relative; 
    overflow: hidden;
}

.sk_timeline_area::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #183254de;
}

.sk_timeline_content {
	position: relative;
	z-index: 9;
}

.sk_design_title.sk_timeline_title {
	text-align: center;
}

.sk_design_title.sk_timeline_title p{
	margin: 0 auto;
}

.sk_design_title.sk_timeline_title p {
	margin: 0 auto;
	max-width: 883px;
	color: #cccc;
}

.sk_design_title.sk_timeline_title h2{ 
	color: #fff;
}

.sk_timeline_item img {
	width: 88px;
}

.sk_timeline_item h6 { 	
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	text-align: left;
	margin: 23px 0 8px 0;
	color: #E3AE0A;
}

.sk_timeline_item p { 
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	text-align: left;
	color: #fff;
}

.sk_timeline_row {
	display: flex;
	gap: 44px;
	width: 100%;
	max-width: 914px;
	margin: 0 auto;
	flex-wrap: wrap;
}

.sk_timeline_item {
	flex: 0 0 calc(100% / 3 - 44px);
	margin-bottom: 23px;
	height: 194px;
}

.sk_timeline_box{
	margin-top: 28px;
	position: relative;
}

.sk_first_line {
	position: absolute;
	top: 41px;
	z-index: -1;
}

.sk_second_line {
	position: absolute;
	top: 565px;
	right: 162px;
	z-index: -1;
}

.sk_third_line {
	position: absolute;
	top: 825px;
	left: 0;
	z-index: -1;
}

.sk_four_line {
	position: absolute;
	top: 1087px;
	right: 202px;
	z-index: -1;
}

.sk_gengel_img img { 
	flex: 0 0 50%;
	width: 50%;
}


.image_parent {
    overflow: hidden; /* Hide default scrollbar */
    position: relative;
    width: 100%;
    height: auto; /* Adjust based on your layout */
}

.image {
    width: 100%;
    height: auto;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

.image img {
    width: 3800px;
    height: auto;
}

.image::-webkit-scrollbar {
    height: 0; /* Hide the original scrollbar */
}

.custom-scrollbar {
    position: absolute;
    bottom: 0;
    left: 50%; /* Center the scrollbar */
    transform: translateX(-50%);
    width: 200px; /* Set custom scrollbar width */
    height: 8px; /* Adjust scrollbar height */
    background-color: #EAECF0; /* Scrollbar background color */
    border-radius: 4px;
    cursor: pointer;
}

.scrollbar-thumb {
    position: relative;
    height: 100%;
    width: 40px; /* Set custom thumb width */
    background-color: rgba(9, 52, 107, 30%); /* Thumb color */
    border-radius: 4px;
    cursor: pointer;
}

.recent_post_content  .sk_single_next_support { 
	height: 238px; 
}

.sk_modal_box_main_area {
	border: 1px solid #09346B0D;
	box-shadow: -13px 22px 40px -4px #00000040;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	padding: 30px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 5%;
	background: #fff;
	z-index: 99999;
	left: 0;
	right: 0;
	display: none;
}

.sk_modal_title {
	display: flex;
	align-items: center;
	gap: 24px;
	margin-bottom: 20px;
}

.sk_modal_title_right h4 { 
	font-size: 24px;
	font-weight: 500;
	line-height: 38.4px;
	text-align: left;
	color: #F5C326;
}

.sk_modal_title_right p { 
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	text-align: left;
	color: #555555;
}

.sk_modal_content p {  
	font-size: 16px;
	font-weight: 400;
	line-height: 28.8px;
	text-align: left;
	color: #555555;
	margin-bottom: 20px;
}

.sk_modal_title img {
	width: 96px;
}

.sk_modal_close { 
	font-size: 22px;
	font-weight: 500;
	line-height: 35.2px;
	text-align: left;
	color: #E22D14;
	text-decoration: underline;
	text-transform: capitalize;
}

.sk_close_btn{
	text-align: center;
}

.sk_popup_close_overlay{
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 99;
	background: #0000008f;
	display: none;
}

.sk_about_video iframe {
	width: 100%;
	height: 500px;
}

.sk_model_title h4 {
	font-size: 24px;
	font-weight: 500;
	line-height: 43.2px;
	text-align: left;
	color: #09346B; 
	font-family: Gotham;
}

.sk_model_title {
	text-align: center;
	margin-bottom: 25px;
}